.minecraft/logs
.minecraft/patchouli_books
.minecraft/saves
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/patchouli_data.json
.minecraft/coremods
natives/
.minecraft/usernamecache.json
.minecraft/usercache.json
.minecraft/optionsshaders.txt
.minecraft/texturepacks
.minecraft/openloader/.cache
.minecraft/config
.minecraft/icon.png
instance.cfg
.minecraft/crash-reports/
Matchbox.code-workspace
instance.cfg
.minecraft/resourcepacks/Quark Programmer Art.zip
