.minecraft/logs
.minecraft/patchouli_books
.minecraft/saves
.minecraft/server-resource-packs
.minecraft/shaderpacks
.minecraft/patchouli_data.json
.minecraft/coremods
natives/
.minecraft/usernamecache.json
.minecraft/usercache.json
.minecraft/optionsshaders.txt
.minecraft/texturepacks
.minecraft/openloader/.cache
.minecraft/config
.minecraft/icon.png
instance.cfg
.minecraft/crash-reports/
Matchbox.code-workspace
.minecraft/resourcepacks/Quark Programmer Art.zip
.minecraft/mods/jei-1.16.5-7.7.1.152.jar
.minecraft/mods/jei-1.16.5-7.7.1.152.jar.disabled
.minecraft/mods/JEITweaker-1.16.5-1.1.0.49.jar
.minecraft/mods/JEITweaker-1.16.5-1.1.0.49.jar.disabled
screenshots/